<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <link rel="icon" href="../../favicon.ico">
  <title>添加留言</title>
  <!-- Bootstrap core CSS -->
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/public/css/main.css" rel="stylesheet">
</head>

<body>
  <!--引用头部-->
  <header>
      {{ include './header.html' }}
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <!--添加留言-->
        <h2 class="sub-header">添 加 留 言</h2>
        <!--留言表单（包括用户名、性别和留言内容）-->
        <form action="/edit" method="post" class="move-left">
          <!--用户名-->
          <div class="form-group h6" >
            <label>用户名选择:</label></br>
              <input type="radio" id="nickname" name="nickname" value="{{user[0].nickname}}" />
              <label for="nickname" class="text-secondary">{{user[0].nickname}}</label>
              </br>
              <input type="radio" id="secret-name" name="nickname" value="匿名" />
              <label for="secret-name" class="text-secondary">匿名</label>
          </div>
          <!--性别-->
          <div class="form-group">
            <label>性别选择:</label></br>
              <input type="radio" id="default-gender" name="gender" value="{{user[0].gender}}" />
              <label for="default-gender" class="text-secondary">默认性别</label>
              </br>
              <input type="radio" id="secret-gender" name="gender" value="-1" />
              <label for="secret-gender" class="text-secondary">保密</label>
          </div>
          <!--留言内容-->
          <div class="form-group h6" >
              <label for="comment">留言内容:</label>
              <textarea class="myTextarea" name="comment">
              </textarea>
          </div>
          <button type="submit" class="btn btn-success">提 交</button>
          <a href="/feedback" class="btn btn-success">返回留言板</a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
