<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/main.css" rel="stylesheet">
    <link rel="icon" href="../../favicon.ico">
</head>
<body>
  <!--通用头部-->
  <header>
    {{ include './header.html' }}
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">账 号 状 态 管 理</h2>
        <div class="table-responsive" style="margin-left: 10%">
          <!--登陆后才显示留言板-->
          {{ if user}}
          <a class="btn btn-success" href="/feedback">留言榜</a>
          {{ /if }}
          <!--账号信息表-->
          <table class="table table-striped">
            <thead>
              <tr style="text-align: center">
                <th>账 号</th>
                <th>昵 称</th>
                <th>性 别</th>
                <th>年 龄</th>
                <th>账 号 状 态</th>
                <th>账 号 注 册 时 间</th>
              </tr>
            </thead>
            <!--遍历显示已注册账号信息-->
            <tbody>
              {{ each accounts }}
              <tr style="text-align: center">
                <td>{{ $value.studentId }}</td>
                <td>{{ $value.nickname }}</td>
                {{if $value.gender == -1}}
                <td>
                  保密
                </td>
                {{else if $value.gender == 0}}
                <td>
                  男
                </td>
                {{else if $value.gender == 1}}
                <td>
                  女
                </td>
                {{/if}}
                <td>{{ $value.age }}</td>
                {{if $value.status == -1}}
                <td style="color: red">
                  封禁
                </td>
                {{else if $value.status == 0}}
                <td>
                  正常
                </td>
                {{else if $value.status == 1}}
                <td style="color: #dd7d0e">
                  禁言
                </td>
                {{/if}}
                <td class="last_active_time">
                {{$value.last_active_time}}
                </td>
              </tr>
              {{ /each }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</body>
<script>
  var lastActive = document.getElementsByClassName('last_active_time')
  for (let i=0;i<lastActive.length;i++) {
    lastActive[i].innerHTML = lastActive[i].innerHTML.split("T")[0] + " , " + lastActive[i].innerHTML.split("T")[1].split(".")[0] + "\""
  }
</script>
</html>