
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>修改密码</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- header的CSS-->
    <link href="/public/css/main.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/public/css/signin.css" rel="stylesheet">

  </head>

  <body>
    <header>
        {{ include './header.html' }}
    </header>
    <div class="container">
      <!--修改密码表单-->
      <form class="form-signin" action="/modify" method="post" id="modifyForm"> 
        <h3 class="form-signin-heading"> 修 改 密 码</h3>
            <!--账号-->
            <label for="input" class="sr-only">学 号</label>
            <input type="number" id="inputStudentId" class="form-control" name="studentId" placeholder="学号：" required>
            <!--密码与新密码-->
            <label for="inputPassword1" class="sr-only">密 码</label>
            <input type="password" id="inputPassword1" class="form-control" name="password" placeholder="原始密码：" required>
            <input type="password" id="inputPassword2" class="form-control" name="newPassword" placeholder="新密码：" required>
          <!--确认按钮-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">确认</button>
      </form>
    </div>

    <!--处理修改密码时的状态码-->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
    $(function(){
       $('#modifyForm').on('submit',function (e) {
         e.preventDefault()
         var formData = $(this).serialize()
         $.ajax({
           url: '/modify',
           type: 'post',
           data: formData,
           dataType: 'json',
           success: function (data) {
             console.log(data)
             var err_code = data.err_code
             if (err_code === 0) {
               window.alert('修改成功',
               setTimeout(() => {
                 window.location.href = '/login'
               }, 2000))
             } else if (err_code === 1) {
               window.alert('原始密码错误，请重新输入')
             }
           }
         })
       })
     })
    </script>
  </body>
</html>
